.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardNotFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  margin: 16px;
  background-color: var(--color-white-1);
  border-radius: 8px;
}

.h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.text {
  margin: 0 0 20px 0;
  text-align: center;
}

.button {
  width: 100%;
  min-width: 112px;
  height: 36px;
  padding: 10px;
  background-color: var(--color-blue-1);
  color: var(--color-white-1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:focus-visible {
  outline: 2px solid var(--color-blue-3);
  outline-offset: -2px;
}

.button:hover {
  background-color: var(--color-blue-2);
}
