.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardSignUp {
  width: 400px;
  padding: 16px;
  margin: 16px;
  background-color: var(--color-white-1);
  border-radius: 8px;
}

.h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.signInContainer {
  margin: 10px 0 0 0;
  text-align: center;
}

.signIn {
  text-align: center;
  text-decoration: none;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px 0 0 0;
}

.button {
  height: 36px;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: var(--color-white-1);
  cursor: pointer;
  transition: background-color 0.3s;
  outline-offset: -1px;
}

.submitButton {
  min-width: 150px;
  background-color: var(--color-blue-1);
  outline-color: var(--color-blue-3);
}

.submitButton:hover {
  background-color: var(--color-blue-2);
}

.submitButton:disabled {
  background-color: var(--color-blue-3);
  cursor: not-allowed;
}

.resetButton {
  background-color: var(--color-gray-1);
  outline-color: var(--color-gray-3);
}

.resetButton:hover {
  background-color: var(--color-gray-2);
}

.resetButton:disabled {
  background-color: var(--color-gray-3);
  cursor: not-allowed;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: gap 0.3s;
}

.buttonContentLoading {
  gap: 10px;
}

.spinner {
  margin: 0 0 0 1px;
}
