.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardSignUp {
  width: 600px;
  padding: 16px;
  margin: 16px;
  background-color: var(--color-white-1);
  border-radius: 8px;
}

.h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.containerImagePreview {
  display: block;
  margin: 0 auto 20px auto;
}

.containerFormGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.containerFormGroups > * {
  flex: 1;
  min-width: 257.6px;
}

.signInContainer {
  margin: 20px 0 0 0;
  text-align: center;
}

.signIn {
  text-decoration: none;
  text-align: center;
}

.signIn:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--color-black);
  outline-offset: -2px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px 0 0 0;
}

.button {
  flex: 1;
  height: 36px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: var(--color-white-1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton {
  min-width: 150px;
  background-color: var(--color-blue-1);
}

.submitButton:focus-visible {
  outline: 2px solid var(--color-blue-3);
  outline-offset: -2px;
}

.submitButton:hover {
  background-color: var(--color-blue-2);
}

.submitButton:disabled {
  background-color: var(--color-blue-3);
  cursor: not-allowed;
}

.resetButton {
  background-color: var(--color-gray-1);
}

.resetButton:focus-visible {
  outline: 2px solid var(--color-gray-3);
  outline-offset: -2px;
}

.resetButton:hover {
  background-color: var(--color-gray-2);
}

.resetButton:disabled {
  background-color: var(--color-gray-3);
  cursor: not-allowed;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: gap 0.3s;
}

.buttonContentLoading {
  gap: 10px;
}

.spinner {
  margin: 0 0 0 1px;
}
