.select {
  display: flex;
  gap: 5px;
  position: relative;
}

.selectHeader {
  display: flex;
  align-items: center;
  min-height: 18px;
  padding: 8px 8px 8px 6px;
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  cursor: text;
  transition: border-color 0.3s;
}

.selectHeaderInvalid {
  border-color: var(--color-red-1);
}

.selectHeaderWarning {
  border-color: var(--color-yellow-1);
}

.selectHeader:has(.input:focus),
.selectHeaderOpen {
  border-color: var(--color-blue-1);
}

.selectHeaderInvalidOpen:has(.input:focus),
.selectHeaderInvalidOpen {
  border-color: var(--color-red-1);
}

.selectHeaderWarningOpen:has(.input:focus),
.selectHeaderWarningOpen {
  border-color: var(--color-yellow-1);
}

.selectHeaderDisabled {
  background-color: var(--color-white-2);
  cursor: not-allowed;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:focus-visible {
  outline: 2px solid var(--color-gray-1);
  outline-offset: -2px;
}

.button:hover {
  background-color: var(--color-white-2);
}

.button:disabled {
  background-color: var(--color-white-3);
  cursor: not-allowed;
}

.input {
  width: 100%;
  margin: 0 8px 0 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
}

.input:disabled {
  cursor: not-allowed;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 200;
  padding: 3px;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.dropdownUp {
  top: auto;
  bottom: calc(100% + 4px);
}

.dropdownVisible {
  pointer-events: auto;
  opacity: 1;
}

.optionsList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 150px;
  gap: 3px;
  font-size: smaller;
}

.option {
  padding: 8px 5px 8px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--color-white-2);
}

.selectedOption {
  background-color: var(--color-blue-1);
  color: var(--color-white-1);
}

.selectedOption:hover {
  background-color: var(--color-blue-2);
}

.focusedOption {
  background-color: var(--color-white-2);
  outline: 2px solid var(--color-white-3);
  outline-offset: -2px;
}

.focusedSelectedOption,
.focusedSelectedOption:hover {
  outline: 2px solid var(--color-blue-3);
  outline-offset: -2px;
}

.noOptions {
  padding: 8px 5px 8px 5px;
  color: var(--color-gray-placeholder);
  text-align: center;
  font-style: italic;
}

.modalDescription {
  margin: 0 0 10px 0;
}

.modalSelectedOptions {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 200px;
  gap: 5px;
}

.modalSelectedOption {
  display: flex;
  padding: 4px;
  border: 1px solid var(--color-white-3);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalSelectedOption:hover {
  background-color: var(--color-white-2);
}
