.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 5px 5px;
}

.asterisk {
  color: var(--color-red-1);
}

.tooltipContainer {
  display: flex;
  align-items: center;
}
