.svg {
  overflow: visible;
  cursor: var(--cursor);
}

.svgEnabled:hover .path {
  fill: var(--color-hover);
  stroke: var(--color-hover);
}

.svgDisabled .path {
  fill: var(--color-disabled);
  stroke: var(--color-disabled);
}

.path {
  fill: var(--color);
  stroke: var(--color);
  transition: fill 0.3s, stroke 0.3s;
}

.white {
  fill: var(--color-white-1);
}
