.svg {
  overflow: visible;
}

.svgEnabled {
  cursor: pointer;
}

.svgEnabled:hover .path {
  fill: var(--color-hover);
}

.svgDisabled {
  cursor: not-allowed;
}

.svgDisabled .path {
  fill: var(--color-disabled);
}

.path {
  fill: var(--color);
  transition: fill 0.3s;
}
