.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  background-color: var(--color-black-overlay);
}

.cardModal {
  display: flex;
  flex-direction: column;
  width: calc(var(--size) * 1px);
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: var(--color-white-1);
}

.h3 {
  margin: 0 0 20px 0;
  text-align: center;
}

.children {
  margin: 0 0 10px 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  gap: 5px;
}

.button {
  flex: 1;
  position: relative;
  height: 36px;
  padding: 10px;
  border-radius: 8px;
  color: var(--color-white-1);
  border: none;
  outline-offset: -1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmButton {
  min-width: 130px;
  background-color: var(--color-red-1);
}

.confirmButtonPrimary {
  background-color: var(--color-blue-1);
  outline-color: var(--color-blue-3);
}

.confirmButtonPrimary:hover {
  background-color: var(--color-blue-2);
}

.confirmButtonPrimary:disabled {
  background-color: var(--color-blue-3);
  cursor: not-allowed;
}

.confirmButtonDanger {
  background-color: var(--color-red-1);
  outline-color: var(--color-red-3);
}

.confirmButtonDanger:hover {
  background-color: var(--color-red-2);
}

.confirmButtonDanger:disabled {
  background-color: var(--color-red-3);
  cursor: not-allowed;
}

.cancelButton {
  background-color: var(--color-gray-1);
  outline-color: var(--color-gray-3);
}

.cancelButton:hover {
  background-color: var(--color-gray-2);
}

.cancelButton:disabled {
  background-color: var(--color-gray-3);
  cursor: not-allowed;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: gap 0.3s;
}

.buttonContentLoading {
  gap: 10px;
}

.spinner {
  margin: 0 0 0 1px;
}
