.containerTable {
  display: flex;
  flex-direction: column;
}

.table {
  border-spacing: 0;
  border-radius: 8px;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid var(--color-white-3);
  text-align: left;
}

.table td.tdEmptyData {
  color: var(--color-gray-placeholder);
  text-align: center;
  font-style: italic;
}

.table th {
  background-color: var(--color-white-2);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 5px;
  margin: 10px 0 0 0;
}

.pagination a {
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  background-color: var(--color-blue-1);
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.pagination a:focus-visible {
  outline: 2px solid var(--color-blue-3);
  outline-offset: -2px;
}

.pagination a:hover {
  background-color: var(--color-blue-3);
}

.pagination a.active {
  background-color: var(--color-blue-3);
  outline-color: var(--color-black);
}

.checkbox {
  accent-color: var(--color-blue-1);
  cursor: pointer;
}

.checkbox:disabled {
  cursor: not-allowed;
}

.hideAt900px {
  display: table-cell;
}

@media (max-width: 900px) {
  .hideAt900px {
    display: none;
  }
}

.hideAt800px {
  display: table-cell;
}

@media (max-width: 800px) {
  .hideAt800px {
    display: none;
  }
}

.hideAt700px {
  display: table-cell;
}

@media (max-width: 700px) {
  .hideAt700px {
    display: none;
  }
}

.hideAt600px {
  display: table-cell;
}

@media (max-width: 600px) {
  .hideAt600px {
    display: none;
  }
}

.hideAt500px {
  display: table-cell;
}

@media (max-width: 500px) {
  .hideAt500px {
    display: none;
  }
}

.hideAt400px {
  display: table-cell;
}

@media (max-width: 400px) {
  .hideAt400px {
    display: none;
  }
}

.hideAt300px {
  display: table-cell;
}

@media (max-width: 300px) {
  .hideAt300px {
    display: none;
  }
}
