.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: var(--color-blue-3);
}

.menuIcon {
  display: none;
  margin: 3.25px 0 3.25px 0;
}

.nav {
  display: flex;
  gap: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 3.5px 3px 3px 3px;
  gap: 5px;
  border-radius: 3px;
  background-color: var(--color-white-1);
  color: var(--color-blue-3);
  cursor: pointer;
  transition: background-color 0.3s;
}

.navItem:hover {
  background-color: var(--color-white-3);
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    position: absolute;
    top: calc((46.5 + 16) * 1px);
    padding: 10px;
    margin: 0 16px 0 0;
    background-color: var(--color-blue-3);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .navShow {
    opacity: 1;
  }

  .header {
    justify-content: right;
  }

  .menuIcon {
    display: block;
    margin: 3.25px 16px 3.25px 0;
  }
}
