.datePicker {
  position: relative;
  margin: 0 0 10px 0;
  font-size: smaller;
}

.datePickerHeader {
  display: flex;
  align-items: center;
  min-width: 240px;
  height: 18px;
  padding: 8px 8px 8px 6px;
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.datePickerHeaderInvalid {
  border-color: var(--color-red-1);
}

.datePickerHeaderWarning {
  border-color: var(--color-yellow-1);
}

.datePickerHeader:has(.input:focus),
.datePickerHeaderOpen {
  border-color: var(--color-blue-1);
}

.datePickerHeaderInvalidOpen:has(.input:focus),
.datePickerHeaderInvalidOpen {
  border-color: var(--color-red-1);
}

.datePickerHeaderWarningOpen:has(.input:focus),
.datePickerHeaderWarningOpen {
  border-color: var(--color-yellow-1);
}

.datePickerHeaderDisabled {
  background-color: var(--color-white-2);
  cursor: not-allowed;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  caret-color: transparent;
}

.input:disabled {
  cursor: not-allowed;
}

.dropdown {
  overflow: hidden;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 3px;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdownVisible {
  pointer-events: auto;
  opacity: 1;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.calendarPrevButtons,
.calendarNextButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50px;
}

.calendarTitle {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendarWeekdays {
  margin: 8px 0 8px 0;
}

.cell {
  text-align: center;
}

.weekday {
  font-weight: 600;
}

.day {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background: transparent;
}

.day:hover {
  background: var(--color-white-2);
}

.dayToday {
  outline: 2px solid var(--color-blue-1);
  outline-offset: -2px;
}

.dayAnotherMonth {
  color: var(--color-white-3);
}

.selectedDay {
  background-color: var(--color-blue-1);
  color: var(--color-white-1);
}

.selectedDay:hover {
  background-color: var(--color-blue-2);
}

.focusedDay {
  background-color: var(--color-white-2);
  outline: 2px solid var(--color-white-3);
  outline-offset: -2px;
}

.focusedSelectedDay,
.focusedSelectedDay:hover {
  outline: 2px solid var(--color-blue-3);
  outline-offset: -2px;
}
